{% extends 'toaso/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    {% block content %}
        <section id="prog-section">
            <h1>Sign Up Page</h1>
            <div class="login-section">
                <div class="signup">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label class="label">{{form.username.label}}</label>
                                <p>{{form.username}}</p>

                        <label>{{form.password1.label}}</label>
                        <p>{{form.password1}}</p>

                        <label>{{form.password2.label}}</label>
                        <p>{{form.password2}}</p>

                        <div class="signup-box">
                            <button class="btn-login" type="submit"> Sign up </button>
                        </div>
                    </form>
                    <p>Already have an account?  <a href="{% url 'login' %}"><span class="text-primary">Login</span></a></p>    
                </div>
               
                <div class="login-img">
                    <img src="#" alt="">
                </div>
            </div>
            
        </section>
    {% endblock content %}
</body>
</html>