{% extends 'toaso/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>About</h1>
    <p>
        About Us: 
    </p>
        At TOASO, we are dedicated to helping high school students in Ghana make informed decisions about their future university programs. 
        We understand the challenges that students face when selecting the right program based on their academic background, career aspirations, and personal interests. 
        That’s why we developed a recommendation system designed to guide students towards the best university programs that match their profiles.
        Our platform simplifies the complex decision-making process by taking into account students' high school elective subjects, aggregate scores, and career goals to provide personalized program recommendations.
        This ensures students are more likely to succeed in their academic journey by aligning their strengths and interests with the right programs.

   
        
       <p> Our Vision:</p>
        To empower every high school student with the right information and tools to make well informed decisions about their future education and careers.
        
        <p>Our Mission:</p>
        To guide students in discovering the best university programs for them, based on their academic performance and career goals, using cuttingedge technology.
        
        <p>Our Values:</p>
         StudentCentered: We put students' needs first, providing guidance that benefits their future.
         Innovation: We use the latest technology to deliver accurate and reliable recommendations.
         Integrity: We ensure that the recommendations provided are unbiased and based on accurate information.
        
        <p>Why Choose TOASO?</p>
         Tailored Recommendations: Get personalized suggestions based on your high school subjects and interests.
         Comprehensive Information: Access detailed program requirements and career paths for better decision making.
         User Friendly Interface: Our platform is easy to use, ensuring a smooth experience for all students.
        
        With TOASO, you can confidently plan your future and find the university program that fits you best.
        </p>
    {% endblock content%}
</body>
</html>