{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/554a2a30a7.js" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="{% static 'toaso/css/base.css' %}">

</head>
<body id="home">
    <header class="hero">
        <div id="navbar" class="navbar">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-book-open"></i></span><a class="logo-link" href="{% url 'home' %}">TOASO</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        <p>base</p>
        {% endblock content %}
    </main>
    <footer class="footer bg-dark">
        <div class="social">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <p>Copyright &copy; 2024 - TOASO</p>
    </footer>

</html>