{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/554a2a30a7.js" crossorigin="anonymous"></script>
    <title>Welcome To TOASO</title>
    <link rel="stylesheet" href="{% static 'toaso/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'toaso/css/style.css' %}">
</head>
<body id="home">
    <header class="hero">
        <div id="navbar" class="navbar">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-book-open"></i></span> TOASO
            </h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <h1>Empowering High School Students</h1>
            <p>Toaso assists students to discover the ideal university program that matches your interest and career goals</p>
            <div class="btn-group">
                <a href="{% url 'signup' %}" class="btn"><i class="fas fa-chevron-right"></i> Register</a>
                <a href="{% url 'login' %}" class="btn btn-outline"><i class="fas fa-chevron-right"></i> Sign In</a>
            </div>
        </div>
    </header>

    <main>
        <section id="about" class="icons bg-light">
            <header class="section-header">
                <h2>Our Services</h2>
                <p>Navigate Your Education Journey with Confidence.</p>
            </header>
            <div class="flex-items">
                <a href="{% url 'user_recommendations' %}">
                    <div>
                        <i class="fas fa-book-reader fa-2x"></i>
                        <div>
                            <h3>Course Recommendation</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, ducimus!</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'programs' %}">
                    <div>
                        <i class="fas fa-pencil-alt fa-2x"></i>
                        <div>
                            <h3>Program Requirements</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, ducimus!</p>
                        </div>
                    </div>
                </a>
                <div>
                <a href="">
                    <div>
                        <i class="fas fa-university fa-2x"></i>
                        <div>
                            <h3>Career Pathways</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, ducimus!</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        <section id="section-find" class="solutions flex-columns">
            <div class="row">
                <div class="column">
                    <div class="column-1">
                        <img src="{% static 'toaso/images/image3.png' %}" alt="">
                    </div>
                </div>
                <div class="column">
                    <div class="column-2">
                        <h2>Find Your Perfect University Program With TOASO</h2>
                        <p>Discover the Perfect Program for Your Future with Toaso. Toaso is a powerful software designed to assist high school students in finding suitable university programs. </p>
                        <a href="" class="btn btn-outline">Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="blog" class="blog flex-columns flex-reverse">
            <header class="section-header">
                <h2>Personalized <br>Course Recommendations</h2>
            </header>
            <div class="row">
                <div class="column">
                    <div class="column-1">
                        <img src="{% static 'toaso/images/image4.png' %}" alt="">
                    </div>
                </div>
                <div class="column">
                    <div class="column-2">
                        <h2>How It Works</h2>
                        <div class="">
                            <div id="steps">
                                <div class="steps">
                                    <i class="fa-solid fa-cube fa-1x"></i>
                                    <h3>Step 1: Sign in or Register</h3>
                                </div>
                                <p>Begin the process by creating an account or signing into your account</p> 
                            </div>
                            <div id="steps">
                                <div class="steps">
                                    <i class="fa-solid fa-cube fa-1x"></i>
                                    <h3>Step 2: Form Details</h3>
                                </div>
                                    <p>Select accurately the various courses you took during high school</p> 
                            </div>
                            <div id="steps">
                                <div class="steps">
                                    <i class="fa-solid fa-cube fa-1x"></i>
                                    <h3>Step 3: Get Recommendations</h3>
                                </div>
                                    <p>Submit the forms and receive recommendations for various university programs</p> 
                            </div>
                            <div id="steps">
                                <div class="steps">
                                    <i class="fa-solid fa-cube fa-1x"></i>
                                    <h3>Step 4: Decision Time</h3>
                                </div>
                                    <p>Browse through the available programs, checking through the program details, cut-off points and prospective career paths to see the best fit</p> 
                            </div>   
                        </div>
                        <a href="" class="btn btn-outline">Get started</a>
                    </div>
                </div>
            </div>
        </section>

        
        <section id="contact" class="solutions flex-columns bg-light">
            <header class="section-header">
                <h2>Contact Us</h2>
            </header>
            
            <div class="row">
                <div class="column">
                    <div class="column-1">
                        <img src="{% static 'toaso/images/image10.png' %}" alt="">
                    </div>
                </div>
                <div class="column">
                    <div class="column-2 bg-light">
                        <h2>Request Callback</h2>
                        <form action="" class="callback-form">
                            <div class="form-control">
                                <label for="name"></label>
                                <input type="text" name="name" id="name" placeholder="name">
                            </div>
                            <div class="form-control">
                                <label for="email"></label>
                                <input type="email" name="email" id="email" placeholder="Enter email">
                            </div>
                            <div class="form-control">
                                <label for="phone"></label>
                                <input type="text" name="phone" id="phone" placeholder="Enter phone">
                            </div>
                            <input type="submit" value="Send" id="submit" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer bg-dark">
        <div class="social">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <p>Copyright &copy; 2024 - TOASO</p>
    </footer>

</body>
</html>
   
   
   
   
   
   <!-- <h1>Welcome, <small>{{request.user}}</small></h1>
    
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form> 
    <p><a href="{% url 'user_recommendations' %}">Recommendations</a></p>
    <p><a href="{% url 'programs' %}">All Programs</a></p> -->
