{% extends 'toaso/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User form</title>
</head>
<body>
    {% block content %}
    <section id="prog-section">
        <h1>Recommendations Form</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Get Recommendations</button>
    </form>
    </section>
    
{% endblock content %}
</body>
</html>