{% extends 'toaso/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Recommendations</title>
</head>
<body>
    {% block content %}
    <section id="prog-section">
        <h1> Program Recommendations for {{ user.name }} </h1>

    <form method="GET" class="search" style="margin-top: 20px; display: flex">
        <input class="search-bar" type="text" name="q" placeholder="Search programs" value="{{ query }}"> 
        <input class="btn" type="submit", value="search">
    </form> 

    <h2>Recommended Courses</h2>
    <div class="programs">
        <ul>
            {% for program in recommended_programs %}
                <li>
                    <div class="prog-box">
                        <a href="{% url 'program_detail' program.pk %}">{{ program.name }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    

    </section>
    
{% endblock content %}
</body>
</html>