<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Recommendations</title>
</head>
<body>
    <h1> Program Recommendations for {{ user.name }} </h1>

    <form method="GET" style="margin-top: 20px; display: flex">
        <input type="text" name="q" placeholder="Search programs" value="{{ query }}"> 
        <input class="button" type="submit", value="search">
    </form> 

    <h2>Recommended Courses</h2>
    <ul>
        {% for program in recommended_programs %}
        
            <li><a href="{% url 'program_detail' program.pk %}">{{ program.name }}</a></li>
        {% endfor %}

        <a href="{% url 'user_recommendations' %}">Go Back</a>
    </ul>
</body>
</html>